:root {
  --primary-white-color: #ffffff;
  --text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --button-background-color: #f5f4fa;
  --background-dark-color: #2f303a;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: var(--title-text-color);
  font-family: "Roboto", "Arial", sans-serif;

  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

/* header */

.page-header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.page-header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.78px;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-right {
  color: #000000;
}

/* site-nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.28px;

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover::after {
  transform: scaleX(1);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link.current::after {
  transform: scaleX(1);
}

.page-header .contact-nav {
  font-weight: 500;
}
.contact-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
  fill: var(--text-color);
}

.contact-nav a {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 1;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-nav .item + .item {
  margin-left: 40px;
}

.contact-nav :hover,
.contact-nav :focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-nav .icon-mail {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-tel {
  margin-right: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* main */

/* primary section */
.hero {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background-dark-color);
  background-image: url(../images/overlay.png), url(../images/hero.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;
}

.hero .title {
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-align: center;
}

.hero .button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  text-align: center;
  margin-top: 0;
  border: none;
  padding: 10px 24px;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button:hover,
.hero .button:focus {
  color: var(--background-dark-color);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #33333380;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;

  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  width: 528px;
  /* height: 581px; */

  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  background: transparent;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close:hover,
.modal .close:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  fill: var(--accent-color);
}

/* .modal .icon-close {
  fill: var(--title-text-color);
} */

/* .modal .close:hover svg,
.modal .close:focus svg {
  fill: var(--accent-color);
} */
.modal-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal .label {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;

  margin-bottom: 10px;
  color: var(--text-color);
  font-size: 12px;
  letter-spacing: 0.12px;
  font-weight: 400;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label .icon {
  position: absolute;
  left: 12px;
  top: 65%;
  transform: translateY(-50%);
  pointer-events: none;
}

.label:hover,
.label:focus-within {
  fill: var(--accent-color);
}
.modal .form-field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover,
.form-field:focus {
  border-color: var(--accent-color);
  outline: none;
}

.label:hover .icon-close,
.label:focus .icon-close {
  border-color: var(--accent-color);
}

.label-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  /* margin-bottom: 10px; */
  color: var(--text-color);
  font-size: 12px;
  letter-spacing: 0.12px;
  font-weight: 400;
}

.modal .form-field-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .form-field-textarea:hover,
.modal .form-field-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea {
  resize: none;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 14px;
  letter-spacing: 0.52px;
  line-height: 0.58;
  color: var(--text-color);
  margin-bottom: 30px;
}

.form-field-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;

  appearance: none;
  position: absolute;
}

.checkbox a {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.checkbox .icon {
  display: flex;
  align-items: center;
  background-image: url(../images/checkbox.svg);
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.form-field-checkbox:checked + .icon {
  background-image: url(../images/checked.svg);
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
}

.send-button {
  width: 200px;
  height: 50px;

  margin: 0 auto;
  display: block;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* section advantages */
.advantages {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon-container {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advantages .container .list {
  display: flex;
}

.advantages .container .item {
  display: block;
  width: 270px;
}
.advantages .container .item:not(:last-child) {
  margin-right: 30px;
}

.advantages .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.42px;
  margin-top: 0;
  margin-bottom: 10px;
}

.advantages .text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42;
  margin-top: 0;
  margin-bottom: 0;
}

/* about us */
.about {
  background-color: var(--primary-white-color);
  padding-bottom: 94px;
}
.about .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1.08px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.about .images-list {
  display: flex;
  flex-wrap: wrap;
}

.images-list {
  display: flex;
  justify-content: space-between;
}

.item img {
  display: block;
}

.container .thumb {
  position: relative;
}

.thumb .label {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 70px;
  background-color: #2f303acc;

  color: var(--primary-white-color);
  font-weight: 500;

  letter-spacing: 0.42px;
  justify-content: center;
  align-items: center;
}

/* our team */
.our-team {
  background-color: var(--button-background-color);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-team .container .team-card:nth-child(4n) {
  margin-right: 0;
}

.our-team .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-card {
  background-color: var(--primary-white-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.team-card .photo {
  margin-bottom: 30px;
}
.team-card .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.48px;

  margin-bottom: 10px;
}

.team-card .trade {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.48px;
  margin: 0;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.social-links-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgba(175, 177, 184, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-item:hover,
.social-links-item:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* clients */

.clients {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;

  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/* footer */
.footer {
  background-color: var(--background-dark-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--accent-color);
}
.footer .logo-right {
  color: var(--primary-white-color);
}

.logo-container {
  margin-bottom: 28px;
}
.footer .address {
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.48px;
  font-style: normal;
  white-space: nowrap;
}
.footer .container {
  display: flex;
  gap: 93px;
}

.middle-part .social-links {
  margin: 0;
}

.middle-part .social-links-item {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
}

.middle-part .social-links-item:hover {
  background-color: var(--accent-color);
}

.join,
.subscribe {
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  padding-top: 12px;
}

.coordination:not(:last-child) {
  margin-bottom: 12px;
}

.footer .address {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .address:hover,
.footer .address:focus {
  color: var(--accent-color);
}

.footer .contact-nav {
  color: var(--footer-contacts-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.52px;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .contact-nav:hover,
.footer .contact-nav:focus {
  color: var(--accent-color);
}

.footer-form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.email-input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.48px;
  font-weight: 400;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email-input:hover,
.email-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.email-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-input:hover::placeholder {
  color: var(--accent-color);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  height: 50px;
  padding: 0;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  fill: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  text-align: center;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  color: var(--title-text-color);
  fill: var(--title-text-color);
}

/* for portfolio */

/* section buttons */

.filters .button-filter {
  background-color: var(--button-background-color);
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin-top: 94px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters .button-filter.current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.filters .button-filter:hover,
.filters .button-filter:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.filters {
  padding-bottom: 50px;
}

.filters .container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.filters .container .item {
  margin-right: 8px;
}
.filters .container .item:last-child {
  margin-right: 0;
}

/* projects */
.projects .title-hidden {
  visibility: hidden;
  font-size: 0;
}

.projects {
  padding-bottom: 94px;
}

.projects .list {
  display: flex;
  flex-wrap: wrap;
}
.projects .card {
  background-color: var(--primary-white-color);
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .card:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.projects .card:nth-child(3n) {
  margin-right: 0;
}
.projects .card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects .card .title {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.projects .card .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;

  margin: 0 0 20px 0;
  margin-left: 24px;
}

.projects .card .thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.card .thumb .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3e6;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card .overlay .description {
  display: block;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 63px;
  margin-bottom: 63px;
  color: var(--primary-white-color);
  font-weight: 400;
  line-height: 1.55;
  font-size: 18px;
  letter-spacing: 0.54px;
}

.projects .card:hover .overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
