.about {
  background-color: var(--primary-white-color);
  padding-bottom: 94px;

  &__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1.08px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__thumb {
    position: relative;
  }

  &__img {
    display: block;
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    width: 100%;
    height: 70px;
    background-color: #2f303acc;

    color: var(--primary-white-color);
    font-weight: 500;

    letter-spacing: 0.42px;
    justify-content: center;
    align-items: center;
  }
}
