.advantages {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
  }
}

.list__item {
  display: block;
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.list__icon {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.list__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.42px;
  margin-top: 0;
  margin-bottom: 10px;
}

.list__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42;
  margin-top: 0;
  margin-bottom: 0;
}
