.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5019607843);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  //   height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  display: flex;

  align-items: center;

  justify-content: center;
  cursor: pointer;
  position: absolute;
  background: transparent;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    fill: var(--accent-color);
  }
}

.modal__title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.label {
  display: flex;
  //   box-sizing: border-box;
  flex-direction: column;
  position: relative;

  align-items: flex-start;
  margin-bottom: 10px;
  color: var(--text-color);
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: 1.5;
  font-weight: 400;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus-within {
    fill: var(--accent-color);
  }
}

.label__icon {
  position: absolute;
  left: 12px;
  top: 65%;
  transform: translateY(-50%);
  pointer-events: none;

  .label:hover &,
  .label:focus & {
    border-color: var(--accent-color);
  }
}

.form-field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  resize: none;
}

.checkbox {
  display: flex;
  justify-content: center;

  align-items: center;
  flex-wrap: nowrap;
  font-size: 14px;
  letter-spacing: 0.52px;
  line-height: 0.58;
  color: var(--text-color);
  margin-bottom: 30px;

  &__click {
    appearance: none;
    position: absolute;
  }
}

.checkbox a {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.checkbox__icon {
  display: flex;

  align-items: center;
  background-image: url(../images/checkbox.svg);
  width: 16px;
  height: 15px;
  margin-right: 8px;

  .checkbox__click:checked + & {
    background-image: url(../images/checked.svg);

    display: flex;

    align-items: center;
    width: 16px;
    height: 15px;
    margin-right: 8px;
  }
}

.send-button {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
