.clients {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;

  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
