.header__contacts {
  font-weight: 500;
}

.contacts {
  display: flex;
  margin-left: auto;

  align-items: center;
  fill: var(--text-color);

  & :hover,
  & :focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }

  &__link {
    color: var(--text-color);
    text-decoration: none;

    display: flex;

    align-items: center;
    line-height: 1;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts__item {
  display: flex;

  align-items: center;

  justify-content: center;

  & + .contacts__item {
    margin-left: 40px;
  }
}

.contacts__icon--mail {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon--tel {
  margin-right: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
