.footer {
  background-color: var(--background-dark-color);
  padding-top: 60px;

  padding-bottom: 60px;
  &__container {
    display: flex;
    gap: 93px;
  }
}

.coordination:not(:last-child) {
  margin-bottom: 12px;
}

.coordination__address {
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.48px;
  font-style: normal;
  white-space: nowrap;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.coordination__contact-nav {
  color: var(--footer-contacts-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.52px;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__social-links {
  margin: 0;
}

.social-links__join {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    background-color: var(--accent-color);
  }
}

.join,
.subscribe {
  font-weight: 700;
  font-size: 14px;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  padding-top: 12px;
}

.subscribe__form {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.subscribe__input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.48px;
  font-weight: 400;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::placeholder {
    color: var(--accent-color);
  }
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  height: 50px;
  padding: 0;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  fill: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.96px;
  text-align: center;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--title-text-color);
    fill: var(--title-text-color);
  }
}
