.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
