.hero {
  height: 600px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
  background-color: var(--background-dark-color);
  background-image: url(../images/overlay.png), url(../images/hero.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center top;

  &__title {
    width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-align: center;
  }

  &__button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.96px;
    cursor: pointer;
    text-align: center;
    margin-top: 0;
    border: none;
    padding: 10px 24px;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--background-dark-color);
      cursor: pointer;
    }
  }
}
