.team {
  background-color: var(--button-background-color);
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card:nth-child(4n) {
    margin-right: 0;
  }

  &__card {
    background-color: var(--primary-white-color);
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

  &__photo {
    margin-bottom: 30px;
  }
  &__name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.48px;

    margin-bottom: 10px;
  }

  &__trade {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.48px;
    margin: 0;
    margin-bottom: 16px;
  }
}

.team__social-links {
  @include flex-center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.social-links__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include flex-center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  fill: var(--social-icon-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & a {
    @include flex-center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }
}
