.filters {
  padding-bottom: 50px;
}

.filters__container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.filters__item {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.filters__button {
  background-color: var(--button-background-color);
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin-top: 94px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.current {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
  }
}
