.projects {
  padding-bottom: 94px;

  &__title--hidden {
    visibility: hidden;
    font-size: 0;
  }
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
}
.card {
  background-color: var(--primary-white-color);
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--card-border-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.card__thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.card__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3e6;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__description {
  display: block;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 63px;
  margin-bottom: 63px;
  color: var(--primary-white-color);
  font-weight: 400;
  line-height: 1.55;
  font-size: 18px;
  letter-spacing: 0.54px;
}

.card__title {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
  margin-left: 24px;
}
.card__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;

  margin: 0 0 20px 0;
  margin-left: 24px;
}
