:root {
  --primary-white-color: #ffffff;
  --text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --button-background-color: #f5f4fa;
  --background-dark-color: #2f303a;
}
